body {
  margin: 0;
  padding: 0;
}

.header {
}

.header p { margin: 0; }

.header_inner {
  padding: 0 8px 10px 0;
  background-color: #16193B;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#16193B), to(#3547BC));
  color: #FFF;
  border: 2px solid #16193B;
  margin-left: 8px;
}

.header_title {
  font-size: 5em;
  font-weight: 700;
}

.header_subtitle {
  font-size: 1.5em;
}

.footer {
  text-align: center;
  padding: 5px;
}

.content {
  border-left: 5px solid #16193B;
  border-right: 5px solid #16193B;
  border-bottom: 5px solid #16193B;
  padding: 5px;
  -webkit-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.5);
  color: #0F0;
  background-color: #000;
  font-size: large;
}
